---
import Hero from "../components/Hero.astro";
import AboutMyself from "../components/AboutMyself.astro";
import TechStack from "../components/TechStack.astro";
import ServicesSection from "../components/ServicesSection.astro";
import ExperienceTimeline from "../components/ExperienceTimeline.astro";
import EducationCard from "../components/EducationCard.astro";
import ContactSection from "../components/ContactSection.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Víctor Bouza - Full Stack & Backend Developer">
  <main class="w-full">
    <Hero />
    <AboutMyself />
    <TechStack />
    <ServicesSection />
    <ExperienceTimeline />
    <EducationCard />
    <ContactSection />
  </main>
</Layout>
