---
import Hero from "../components/Hero.astro";
import ExperienceTimeline from "../components/ExperienceTimeline.astro";
import TechStack from "../components/TechStack.astro";
import EducationCard from "../components/EducationCard.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Víctor Bouza - Full Stack & Backend Developer">
  <main class="min-h-screen bg-slate-50 dark:bg-slate-950 px-4 sm:px-6 lg:px-8">
    <Hero />
    <ExperienceTimeline />
    <TechStack />
    <EducationCard />
  </main>
</Layout>
